# Path to your GGUF model file
PATH_TO_MODEL="/path/to/your/model.gguf"

# Path to the llama-server binary
LLAMA_SERVER="/path/to/llama-server"

# PORT for llama.cpp server
PORT=11434

# Name for the docker image
IMAGE_NAME="claude-code-dev"

# LLM Context Size (set based on model)
CONTEXT_SIZE=262144

# additional LLAMA.CPP options (set based on options)
LLM_OPTIONS=(
              -fa on
              -np 1
              --spec-type draft-mtp
              --spec-draft-n-max 6
            )